:root {
/*
    --windowWidth: 640px;
    --windowHeight: 360px;
*/
    
    --windowWidth: 1280px;
    --windowHeight: 720px;
}

body {
    background-color: #212121;
}

header {
    color: white;
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1em;

    color: white;
}

.center {
    background-color: cyan;
    width: var(--windowWidth);
    height: var(--windowHeight);    
    position: absolute;
    left: calc(50vw - (var(--windowWidth)/2));
    top: calc(50vh - var(--windowHeight)/2);
}